[includeIf "gitdir:~/projects/work/"]
	path = ~/.config/git/work/.gitconfig
[includeIf "gitdir:~/projects/oss/"]
	path = ~/.config/git/oss/.gitconfig
[includeIf "gitdir:~/dotfiles/"]
	path = ~/.config/git/oss/.gitconfig
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[init]
  defaultBranch = main
[core]
  editor = nvim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  pager = less
[maintenance]
	repo = /Users/anthony.bonafide/projects/oss/turbo-guacamole
[alias]
	fetch = fetch --all
  blame = blame -w -C -C -C
  diff = diff --word-diff
	bare-clone = !git-bare-clone.sh
  worktreea = !git-worktree-add.sh
[column]
	ui = auto
[branch]
	sort = -committerdate
[rerere]
	enabled = true
[diff]
	tool = vimdiff
[merge]
  tool = fugitive
[mergetool]
  keepBackup = false
[mergetool "fugitive"]
	cmd = nvim -d -c \"wincmd l\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"



