# Configurations we do not want
com.corsair/
iterm2/
jgit/
pgcli/
containers/
SmartSetMasterErgo (Mac)/
# Files we do not want from NVIM
nvim/tt.*
nvim/.tests
nvim/doc/tags
nvim/debug
nvim/.repro
nvim/foo.*
nvim/*.log
nvim/data

## A bunch of other stuff
akregatorrc
arkrc
autostart
baloofileinformationrc
baloofilerc
bluedevilglobalrc
BraveSoftware
cef_user_data
chromium
cni
coc
Code
configstore
Daedalus Mainnet
DB Browser for SQLiterc
dconf
discord
dlv
dolphinrc
Electron
emaildefaults
exercism
falkon
gh.bak
GIMP
github-copilot
go
gtk-2.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
htop
i3
JetBrains
jgit
kactivitymanagerdrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
katemetainfos
katerc
kateschemarc
katesyntaxhighlightingrc
katevirc
kcminputrc
kcmshell5rc
kconf_updaterc
KDE
kdeconnect
kded5rc
kdedefaults
kdeglobals
kde.org
keepassxc
KeePassXCrc
keybase
Keybase
kfontviewrc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
kinfocenterrc
kiorc
kmixrc
knfsshare
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ksysguardrc
ktimezonedrc
ktrashrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
Ledger Live
libaccounts-glib
libreoffice
manjaro
manjaro-hello.json
memos.json
menus
mimeapps.list
nix
nu
nushell
nvim.bak
obs-studio
okularpartrc
okularrc
pamac
pipewire-media-session
plasma-localerc
plasma-nm
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmaparc
plasmarc
plasmashellrc
plasma-workspace
Postman
powermanagementprofilesrc
pulse
QtProject.conf
README.md
sao-nodejs
session
Signal
signond
Slack
soffice.binrc
spectaclerc
sqlitebrowser
syncthing
systemmonitorrc
systemsettingsrc
touchpadxlibinputrc
trashrc
@trezor
Trolltech.conf
Unknown Organization
user-dirs.dirs
user-dirs.locale
vdev
vlc
xdg-desktop-portal-kderc
xsettingsd
yakuakerc
yay
zoom.conf
zoomus.conf
